.header {
    display: flex;
    max-width: 900px;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 20px 0;
}

.left {
    font-size: 1.2rem;
    font-weight: 600;
    color: #53c60b;
}

.right a {
    padding: 12px;
    color: dimgrey;
    font-size: 500;
}

.container {
    min-height: 1000px;
}

.footer {
    background-color: #53c60b;
    margin-top: 71px;
    padding: 10px 0; 
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
}

@media (max-width: 900px) {
    .header {
        padding: 20px;
    }
}

@media (max-width:600px) {
    .header {
        padding: 10px;
    }
}